// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 33px;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}